@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');

@theme {
  --color-main-100: #F4F9F4;
  --color-main-200: #EDF2EE;
  --color-main-300: #E4EEE6;
  --color-main-400: #CAD9CC;
  --color-main-500: #4F6D53;

  --color-copper: #573700;
  --color-mattOrange: #DCA85A;
  --color-offWhite: #FAFAFA;

  --font-milonga: "Milonga", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F4F9F4;
  font-family: "Montaga", serif;
  font-weight: 400;
  overflow-x: hidden;
}

.liquid-glass {
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.4),
    inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

@keyframes gradientVertical {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 80% 100%;
  }
   100% {
    background-position: 0% 0%;
  }
}

.animate-gradient-vertical {
  animation: gradientVertical 15s linear infinite;
}



