@import "tailwindcss";

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');

@theme {
  --color-main-100: #F4F9F4;
  --color-main-200: #EDF2EE;
  --color-main-300: #E4EEE6;
  --color-main-400: #CAD9CC;
  --color-main-500: #4F6D53;

  --color-copper: #573700;
  --color-mattOrange: #DCA85A;
  --color-offWhite: #FAFAFA;

  --font-milonga: "Milonga", serif;
}

body {
  font-family: "Montaga", serif;
  font-weight: 400;
  overflow-x: hidden;
  scroll-behavior: smooth;
}